<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <h2> Mail Templates
      </h2>
    </div>
    <div class="col-sm-12"></div><br />
    <!-- Card -->
    <div class="row clearfix">
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="card">
          <div class="header  card-header card-header-pink card-header-icon">
            <div class="card-icon"><i class="material-icons notranslate">person</i></div>
            <h2>Register Mail <small></small>
              <div class="pull-right">
                <a routerLink="/registerMail" class="btn btn-primary m-t-1 waves-effect">Manage</a>
              </div>
            </h2>
          </div>
          <div class="body">
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="card">
          <div class="header  card-header card-header-warning card-header-icon">
            <div class="card-icon"><i class="material-icons notranslate">local_grocery_store</i></div>
            <h2>
              Order Mail <small></small>
              <div class="pull-right">
                <a routerLink="/orderMail" class="btn btn-primary m-t-1 waves-effect">Manage</a>
              </div>
            </h2>
          </div>
          <div class="body">
          </div>
        </div>
      </div>
    </div>
    <!-- #END# Card -->
  </div>
</section>