<section class="content">

  <div class="container-fluid">
      <div class="block-header">
          <h2></h2>
      </div>
  
      <!-- Input -->
      <div class="row clearfix">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="card">
                  <div class="header">
                    <h2> Restaurant Edit
                      <div class="pull-right">
                          <button type="submit" form="outletForm" class="btn btn-success m-t-1 waves-effect">Save</button>
                          &nbsp;
                          <a routerLink="/restaurantList" class="btn btn-danger m-t-1 waves-effect">Cancel</a>
                      </div>
  
  
                  </h2>
                  </div>

                  <div class="body">

                      <h2 class="card-inside-title"></h2>
                      <div class="col-sm-12"></div>
                      <div class="row clearfix">
                        <form [formGroup]="outletForm" (ngSubmit)="onSubmit()" id="outletForm"
                        enctype="multipart/form-data">
                          <div class="col-sm-12 notranslate">
                              <div class="form-group">
                               
                                  <div class="form-line">
                                      <input type="text" class="form-control" placeholder="Restaurant Name" formControlName= "name"/>
  
                                  </div>
                              </div>
                          </div>
                          <div class="col-sm-12">
                            <div class="form-group">
                                <div class="form-line">
                                    <select formControlName="type" class="form-control show-tick notranslate" >
                                        <option value="">-- Please Select Type --</option>
                                        <option *ngFor="let country of deliveryType" [value]="country.key">
                                            {{ country.type }}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                 
                        
                          <div class="col-sm-12">

                          <label for="image">Restaurant Image</label>
                      </div>
                      <!-- <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7" *ngIf="isrestaurant == true"> -->
                        <div class="col-sm-12">
                          <div class="form-group">
                              <div class="form-line">
                                  <input type="file" (change)="handleFileInput($event.target.files)"
                                      class="form-control" formControlName="image" id="image"
                                      #fileInput />
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                      <!-- <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 center" *ngIf="isrestaurant == true"> -->
                      <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 center">
                          <div class="">
                              <img [src]="url || 'assets/images/image_placeholder.jpg'" height="250"
                                  width="400"> <br />
                          </div>
                      </div>
                  </div>
              </form>
                         
                      </div>
                      
                
                      <!-- tab closed -->
                 
                  </div>
              </div>
          </div>
      </div>
      <!-- #END# Input -->
  
  </div>
  </section>
  