<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-xs-12 col-sm-3">
                <div class="card profile-card">
                    <div class="profile-header">&nbsp;</div>
                    <div class="profile-body">
                        <div class="image-area">
                            <img src="assets/images/user.png" style="width:128px;height:128px;" alt="AdminBSB - Profile Image" />
                        </div>
                        <div class="content-area notranslate">
                            <h3>{{ userName }}</h3>
                            <p><a href="mailto:{{ email }}">{{ email }}</a></p>
                            <p>+{{ phoneNumber }}</p>
                            <p *ngIf="status === 1; else inactive">Active</p>
                            <ng-template #inactive><p>Active</p></ng-template>
                        </div>
                    </div>
                    <div class="profile-footer">
                        <ul>
                            <li style="text-align: center;">	
                                <span>Total Orders</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;	
                                <span>{{orderCount}}</span> <br>	
                                <a *ngIf = "isBlocked == 1; else unsus"><button class="btn btn-primary m-t-15 waves-effect" (click) = "unsuspend(isBlocked)">Enable</button></a>	
                                <ng-template #unsus><button class="btn btn-danger m-t-15 waves-effect" (click) = "suspend(isBlocked)">Disable</button></ng-template>	
                            </li>
                        </ul>
                        <!-- <button class="btn btn-primary btn-lg waves-effect btn-block">FOLLOW</button> -->
                    </div>
                </div>


            </div>
            <div class="col-xs-12 col-sm-9">
                <div class="card">
                    <div class="body">
                        <div>
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Addresses</a></li>
                                <li role="presentation"><a href="#profile_settings" aria-controls="settings" role="tab" data-toggle="tab">Orders</a></li>
                                <!-- <li role="presentation"><a href="#change_password_settings" aria-controls="settings" role="tab" data-toggle="tab">Change Password</a></li> -->
                            </ul>

                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade in active" id="home">
                                    <div *ngFor="let address of userAddress" class="panel panel-default panel-post">


                                      <div class="panel-heading">
                                            <div class="media">
                                                <div class="media-left">
                                                    <img src="assets/images/address.png" />
                                                </div>
                                                <div class="media-body">
                                                    <h4 class="media-heading notranslate">
                                                        {{ address.type }}
                                                    </h4>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-body">
                                            <div class="post notranslate">
                                                <address>
                                                  <b>House / Flat No: </b> {{ address.houseFlatNo }}<br/>
                                                  <b>Address: </b>{{ address.location }}<br/>
                                                  <b>Landmark: </b>{{ address.landMark }}
                                                </address>
                                            </div>
                                        </div>

                                    </div>
                                    <div *ngIf="userAddress?.length === 0">
                                        <div class="panel-heading">
                                            <div class="media center">
                                                <div class="media-body">
                                                    <h4 class="media-heading notranslate" style="text-align: center;">
                                                        {{ noAddress }}
                                                    </h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                                <div role="tabpanel" class="tab-pane fade in" id="profile_settings">
                                    <div class="table-responsive" >
                                        <table id="datatables" class="table table-striped table-no-bordered table-hover notranslate">
                                          <thead>
                                          <tr>
                                            <th>S.No</th>
                                            <th>Ref Id</th>
                                            <th>Outlet</th>
                                            <th>Dishes</th>
                                            <th>Date</th>
                                            <th>Total</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                            
                                          </tr>
                                          </thead>

                                          <tbody>

                                          <tr *ngFor="let order of orderData; let i = index">
                                            <th scope="row">{{ 10 *( page-1 ) + i + 1 }}</th>
                                            <td>{{ order.orderReferenceId }}</td>
                                            <td>{{ order.restaurantName }}</td>
                                            <td>{{ order.dishes }}</td>
                                            <td>{{ order.orderDate }}</td>
                                            <td>{{ order.total }}</td>
                                            <td>{{ order.status }}</td>
                                            <td>
                                              <a routerLink="/orderView/{{ order.orderId }}" class="btn btn-primary m-t-15 waves-effect">View</a>
                                            </td>
                                          </tr>

                                          <tr *ngIf="orderData?.length === 0">
                                            {{ noOrder }}
                                          </tr>
                                          </tbody>

                                        </table>
                                      </div>
                                      <ngb-pagination [collectionSize]="pages" (pageChange)="getUserOrder($event)" [(page)]="page" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
                                </div>
                                <div role="tabpanel" class="tab-pane fade in" id="change_password_settings">
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <label for="OldPassword" class="col-sm-3 control-label">Old Password</label>
                                            <div class="col-sm-9">
                                                <div class="form-line notranslate">
                                                    <input type="password" class="form-control" id="OldPassword" name="OldPassword" placeholder="Old Password" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="NewPassword" class="col-sm-3 control-label">New Password</label>
                                            <div class="col-sm-9">
                                                <div class="form-line notranslate">
                                                    <input type="password" class="form-control" id="NewPassword" name="NewPassword" placeholder="New Password" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="NewPasswordConfirm" class="col-sm-3 control-label">New Password (Confirm)</label>
                                            <div class="col-sm-9">
                                                <div class="form-line">
                                                    <input type="password" class="form-control" id="NewPasswordConfirm" name="NewPasswordConfirm" placeholder="New Password (Confirm)" required>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-sm-offset-3 col-sm-9">
                                                <button type="submit" class="btn btn-danger">SUBMIT</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
