agm-map {
    height: 350px;
}

.form-group .form-control {
    width: 100%;
    border: none;
    box-shadow: none;
    border-radius: 0;
    padding-left: 0;
    /* border-bottom-color: #3a4e5f; */
    /* border-color: #21a0a0; */
    border-bottom: groove;
}

ngb-modal-window.modal.fade.show.d-block {
    opacity: 1;
}
