<section class="content">

    <div class="container-fluid">
        <div class="block-header">
            <h2> SMS Gateway
            </h2>
        </div>

<div class="col-sm-12"></div><br/>
        <!-- Card -->
        <div class="row clearfix">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <div class="card">
                    <div class="header">
                      <h2>
                        Twilio

                        <div class="pull-right">
                            <label class="switch">
                                <input type="checkbox" [checked]="twilioSelected === true" (change) = "radioSelected($event.target.checked, 'SmsGateway', 'Twilio')" disabled name="active">
                                <span class="slider round"></span>
                              </label>
                        </div>
                      </h2>
                    </div>

                    <div class="body">
                      <div *ngIf="twilioSelected" class="">
                        <a routerLink="/smsFormTwilio" disable class="btn btn-warning waves-effect">Edit</a>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Card -->
    </div>
  </section>
